@import "./_globales.scss";
.error {
  display: flex;
  @include container;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primario;
  
    &--code {
      margin: 0px;
      @include font-size(80px);
    }
    &--description {
      @include font-size(25px);
    }
  }
  
}
