@import './Button.scss';
.player {
  position: relative;
  @include container(false);
  /*&__video{
    width: 90vw;
    height: 90vh;
  }*/
  &__controls{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__controls button{
    margin: 10px;
  }
}
.button__back{
  position: absolute;
  left: 100px;
  top: 0;
}

